<section>
    <form action="">
        <h2>Entre como participante</h2>
        <label class="sr-only" for="room-id">Entrar em uma sala</label>
        <input type="number" id="room-id" placeholder="Código da sala">
        <button>
            <img src="./images/enter-room.svg" alt="enter-room">
            Entrar na sala
        </button>

    </form>
</section>

<div class="separator">
    <div></div>
    <div>OU</div>
    <div></div>
</div>

<div class="create-room">
    <h2>Crie sua própria sala de forma fácil</h2>
    <!-- Alterar posteriormente trocando o button pela tag a -->
    <a href="/create-pass" > 
        <button  class="button outline">
            <img src="./images/users.svg" alt="users">
            Criar sala
        </button>
    </a>
</div>