/* Modal */
.modal-wrapper.active{
    position:fixed;
    top: 0;
    left: 0;

    width:100vw;
    height:100vh;

    display:flex;

    background:rgba(4, 9, 17, .8);

    /* Tira a modal da tela */
    visibility: visible;
    opacity: 1;
}


.modal-wrapper{
    position:fixed;
    top: 0;
    left: 0;

    width:100vw;
    height:100vh;

    display:flex;

    background:rgba(4, 9, 17, .8);

    /* Tira a modal da tela */
    visibility: hidden;
    opacity: 0;
}



.modal-wrapper .modal{
    width:min(59rem, 90%);
    height:min(36rem, 100vh);
    padding:6.4rem 0;
    text-align:center;

    margin: auto;

    background:var(--White);
    border-radius: .8rem;
}

.modal-wrapper .modal h2{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size:2.4rem;
    margin-bottom: 1.2rem;
    color: var(--Black);
}

.modal-wrapper .modal p{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:1.6rem;
    color: var(--Grey-dark);
    margin-bottom: 2.4rem;
}

.modal-wrapper .modal form{
    width: 100%;
    margin: 0 auto;
}


.modal-wrapper .modal form input{
    color: var(--Black);
    width: 30.2rem;
    padding: 1.3rem 1.6rem;
    border: 2px solid var(--Blue);
    outline: none;
    box-shadow:0 0 0 0;
}

.modal-wrapper .modal form .buttons{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 4rem;
} 

.modal-wrapper .modal form .buttons button{
    padding: 1.3rem 3.2rem;
    height:5rem;
} 

.modal-wrapper .modal form .buttons button:nth-child(1){
    margin-right:0.5rem;
} 